{% load static %}
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>
    <main>
      <div class="container text-center">        
        <img src="{% static 'img/ava.jpg' %}">
        <h3>Ваши шансы сдать тест</h3>
        <h1>{{ chance }} %</h1>
        <form method="post" class="col-6" style="margin: 0 auto">
          {% csrf_token %}
          <div class="mb-3">
            <label for="iterations" class="form-label">Количество итераций</label>
            <input name="iterations" type="number" class="form-control" id="iterations">
          </div>
          <div class="mb-3">
            <label for="questions" class="form-label">Сколько вопросов</label>
            <input name="questions" type="number" class="form-control" id="questions">
          </div>
          <button type="submit" class="btn btn-primary">Погнали</button>
        </form>
      </div>      
    </main>
</html>


